{   
    "env": {
        "browser": true,
        "es2020": true
    },
    "plugins": ["react", "prettier"],
    "rules": {   
        "react/jsx-uses-react": "error",   
        "react/jsx-uses-vars": "error" 
    },
    "extends": ["airbnb", "prettier"]
}