.calculator_container {
  width: 534px;
  margin: 0 auto;
  margin-top: 100px;
  border: 8px white solid;
  display: block;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.output {
  width: 100%;
  box-sizing: border-box;
  height: 150px;
  background: rgb(59, 35, 35);
  color: white;
  text-align: right;
  font-size: 80px;
  grid-column-start: 1;
  grid-column-end: 6;
  border-radius: 10px;
  margin-bottom: 10px;
}
